body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #ffd600;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

header nav {
  display: flex;
  gap: 20px;
}

header nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 10;
  padding: 10px;
  width: 250px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-content ul ul {
  margin-left: 10px;
}

.dropdown-content a {
  text-decoration: none;
  color: #0078D7;
}

.dropdown-content a:hover {
  text-decoration: underline;
}
